---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';

const {
  title,
  description,
  lang = 'en',
  dir,
  showNavbar = true,
  showFooter = true,
} = Astro.props;
---

<html lang={lang} dir={dir}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={`h-screen antialiased`}>
    {showNavbar && <Navbar client:only='react' />}
    <main><slot /></main>
    {showFooter && <Footer />}
  </body>
</html>
