---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';

const {
  title,
  description,
  lang = 'en',
  dir,
} = Astro.props;
---

<html lang={lang} dir={dir}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={`h-screen antialiased`}>
    <Navbar client:only='react' />
    <main><slot /></main>
    <Footer />
  </body>
</html>
